*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1200px;
  padding: 0 30px;
  margin-top: 131px;
}

.result {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 711px;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  width: 225px;
  height: 54px;
  display: flex;
  flex-direction: column;
}

.search-form__fieldset-title {
  margin: 0 0 5px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  height: 22px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 225px;
  height: 27px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  padding: 2px 0;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.2;
  background-color: transparent;
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  background-color: transparent;
  flex-shrink: 0;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__label:has(:checked) .search-form__pseudo-checkbox::after,
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 399px;
}

.title,
.content__accent {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.title {
  color: #fff;
  font-size: 75px;
}

.content__accent {
  color: #545050;
  font-size: 75px;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 3px;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 2px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 0;
}

.content__video-card-description-container {
  width: 196px;
  height: 103px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content__video-card-title {
  margin-bottom: 6px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
  padding: 6px 73.5px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
}

.more-button {
  width: 390px;
  height: 34px;
  padding: 8px 0;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
